/* mobile */
/* first section */
#first_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  background-image: url(fotos/blomst.webp);
}
#first_section .col_1 {
  background-color: #ffffff8a;
  margin: 30px;
  padding: 20px;
  grid-column: 1/6;
  grid-row: 1/3;
  text-align: center;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr; */
}
#first_section .col_1 .element_1 {
  margin-top: 40px;
}
#first_section .col_1 .element_2 {
  padding: 30px;
}

/* first section */
#second_section .section_wrapper .col_1 {
  background-color: #fed8003a;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}

#second_section .section_wrapper .col_1 .bottom {
  text-align: center;
}
/* second section */
#second_section .section_wrapper .col_2 {
  background-color: #d5befca6;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}
#second_section .section_wrapper .col_2 .bottom {
  text-align: center;
}

/* third section */
#third_section .section_wrapper .col_1 {
  background-color: #8bca667e;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}
#third_section .section_wrapper .col_1 .bottom {
  text-align: center;
}
/* third section */
#third_section .section_wrapper .col_2 {
  background-color: #a5775eaf;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}
#third_section .section_wrapper .col_2 .bottom {
  text-align: center;
}
/* fourth section */
#fourth_section .section_wrapper .col_1 {
  background-color: #bfd7e1a8;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}
#fourth_section .section_wrapper .col_1 .bottom {
  text-align: center;
}
#fourth_section .section_wrapper .col_2 {
  background-color: #e9cbac75;
  margin: 5px;
  margin-top: 20px;
  padding: 30px;
}

#fourth_section .section_wrapper .col_2 .bottom {
  text-align: center;
}

/* web */
@media (min-width: 950px) {
  #first_section {
    background-image: url(fotos/blomst.webp);
    background-size: cover;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #first_section .col_1 {
    /* font-size: 2rem; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.541);
    margin: 30px;
    padding: 20px;
    grid-column: 1/3;
    grid-row: 1/6;
  }
  #first_section .col_1 .element_1 {
    margin: 60px;
  }
  #first_section .col_1 .element_4 {
    margin: 20px;
  }

  /* brug kun hvis du vil tilabge til gamle layout */
  #first_section .col_3 {
    /* background-color: rgba(255, 255, 255, 0.541); */
    margin: 30px;
    padding: 20px;
    grid-column: 3/5;
    grid-row: 1/3;
  }

  /* second section */
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #second_section .section_wrapper .col_1 {
    /* background-color: #fed8003a; */
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #second_section .section_wrapper .col_1:hover {
    background-color: #fed8003a;
    filter: none;
  }
  #second_section .section_wrapper .col_1 .top {
    margin: 30px;
  }
  #second_section .section_wrapper .col_1 .bottom {
    text-align: center;
  }
  /* -------------------------------------------------- */
  #second_section .section_wrapper .col_2 {
    /* background-color: #cea3ac67; */
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #second_section .section_wrapper .col_2:hover {
    background-color: #d5befca6;
    filter: none;
  }
  #second_section .section_wrapper .col_2 .top {
    margin: 30px;
  }
  #second_section .section_wrapper .col_2 .bottom {
    text-align: center;
  }
  /* third section */
  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #third_section .section_wrapper .col_1 {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #third_section .section_wrapper .col_1:hover {
    background-color: #8bca667e;

    filter: none;
  }
  #third_section .section_wrapper .col_1 .top {
    margin: 30px;
  }
  #third_section .section_wrapper .col_1 .bottom {
    text-align: center;
  }
  /* -------------------------------------------------- */
  #third_section .section_wrapper .col_2 {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #third_section .section_wrapper .col_2:hover {
    background-color: #a5775e8e;

    filter: none;
  }
  #third_section .section_wrapper .col_2 .top {
    margin: 30px;
  }
  #third_section .section_wrapper .col_2 .bottom {
    text-align: center;
  }

  /* fourth section */
  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #fourth_section .section_wrapper .col_1 {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #fourth_section .section_wrapper .col_1:hover {
    background-color: #bfd7e1a8;
    filter: none;
  }
  #fourth_section .section_wrapper .col_1 .top {
    margin: 30px;
  }
  #fourth_section .section_wrapper .col_1 .bottom {
    text-align: center;
  }
  /* -------------------------------------------------- */

  #fourth_section .section_wrapper .col_2 {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
  }
  #fourth_section .section_wrapper .col_2:hover {
    background-color: #e9cbac75;
    filter: none;
  }
  #fourth_section .section_wrapper .col_2 .top {
    margin: 30px;
    display: flex;
    justify-content: center;
  }
  #fourth_section .section_wrapper .col_2 .top .mig_billede {
    width: 50%;
  }
  #fourth_section .section_wrapper .col_2 .bottom {
    text-align: center;
  }
}
