header {
  background-color: #a06a357c;
  padding: 20px;
  position: sticky;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
main {
  margin: 30px;
}
#first_section .section_wrapper {
  background-color: #a06a357c;
  padding: 20px;
}
@media (min-width: 950px) {
  #first_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #first_section .section_wrapper .col_2 {
    filter: grayscale(100%);
  }
  #first_section .section_wrapper .col_2:hover {
    filter: none;
  }
  #first_section .section_wrapper .col_3 {
    filter: grayscale(100%);
  }
  #first_section .section_wrapper .col_3:hover {
    filter: none;
  }
}
